@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

 body{
   padding:0px;
   margin:0px;
   font-family: 'Courier New', Courier, monospace;
   font-size: 20px;
   color:wheat;
   background-image: url('https://t3.ftcdn.net/jpg/01/37/63/26/240_F_137632621_PVGoJc5UWOGY4f6tWRUSDE8ZmlYOTWCj.jpg');
   background-size:100% 370%;              
   background-repeat:   no-repeat;
   background-position: center center; 
   height: 100%;
  }

.startGame{
  margin: 10vw auto;
  z-index: 100;
}

 #game> div {
  border: 1px solid black;
  height: 10vw;
  margin: 10px auto;
  width: 45%;
  color: rgb(46, 194, 194);
} 

.title,.count,.start, .reset{
  text-align: center;
}

.titleFront{
  font-size:1.5em;
  margin-bottom: 5px;
}

#game{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto auto auto ;
}

.startGame{
  width:95vw;
  position: relative;
  display: flex;
  justify-content:center;
  margin-top: -23vw;
}

.startGame img{
  max-width: 1000px;
  width:80vw;
}

.start{
  font-size:12vw;
}

.startbutton{
  text-align: center;
}

.startContainer{
  margin-top:2vw;
  
}

.button h1 {
  padding: 15px 25px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: black;
  background-color: white;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  width: 400px;
  margin:5px auto;
  font-size:3rem;
}

.button:active {
  background-color: #9cf69c ;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.startbutton {
  text-decoration: none;
  color:black;
}

.reset{
  padding: 5px;
  width: 150px;
  font-size: 30px;
  margin: 0px auto 10px;
  color: white;
  background-color:black;
  border-radius: 25px;
  visibility: hidden;
}

.reset:hover{
  color: black;
  background-color: white;
}

.scene {
  max-height: 300px;
  max-width:300px;
  height: 20vw;
  border: 1px solid #CCC;
  margin: 40px 0;
  perspective: 600px;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  line-height: 260px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card__face--front {
  width: 100%;
  height: 100%;
  filter: invert(100%);
  background-size: 93% auto;
  background-repeat: no-repeat;
  background-image: url('gifs/questionMark.png');
}

.card__face--front:hover{
  background-image: url('gifs/questionMark.png');

  filter: invert(70%);
  box-shadow: inset 0 0 5px 2px #282a2d;
}

.card__face--back {
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  transform: rotateY(180deg);
  background-size: auto 100%;
}

.lowest, .winner{
  text-align: center;
}

.winner{
  display: none;
}

.neons {
  margin-top: 2rem;
  text-align: center;
}

.neons h1 {
 font-size: 3em;
 text-align: center;
  font-weight: bold;
 -webkit-animation: glow 2s ease-in-out infinite alternate;
 -moz-animation: glow 2s ease-in-out infinite alternate;
 animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
     color: #fff;
   text-shadow: 0 0 10px #00fff2, 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 90px #00fff2;
 }
 
 to {
    color: gray;
   text-shadow: 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 80px #00fff2, 0 1 90px #00fff2;
 }
}

.card__face--front:hover {
  animation: shake 0.5s;
  animation-iteration-count: 3;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.formContainer{
  position: absolute;
  width: 98%;
  display: flex;
  justify-content: center;
  margin-top:10%;
  z-index: 10;
}

form{
  width: 600px;
  padding:5px;
  box-shadow: 5px 10px 10px #888888;
  background-color: rgba(255, 255, 255, .15);  
  backdrop-filter: blur(10px);
  position: absolute;
 
}
@supports not (backdrop-filter: none) {
  form {
    background-image: url('https://t3.ftcdn.net/jpg/01/37/63/26/240_F_137632621_PVGoJc5UWOGY4f6tWRUSDE8ZmlYOTWCj.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:130% 150%;
  }
  form a img{
    filter: invert(100%);
  }
  input[type="submit"]{
    padding-left: 14px !important;
  }
  input[type="submit"]:hover{
    color: white ;
    background-color:black;
  }
}

#scoreForm{
  display: none;
}

form input,form p{
  margin-left: auto;
  margin-right: auto;
  margin-top:10px;
  width:350px;
  padding:10px;
  display:flex;
  font-size:20px;
}

form p{
  margin-top:0px;
  color:red;
  padding-top:5px;
}

form h1{
  text-align: center;
}

.errorUname, .errorEmail{
  display:none;
}

input[type="submit"]{
 width:120px;
 text-align:center;
 font-size:20px;
 padding-left: 30px;
 border-radius: 20px;
 border: none;
 margin-bottom: 20px;
}

form a{
  height: 20px;
}

form a img{
  height: 20px;
  float: right;
  margin: 10px;
  transform: rotate(-90deg);
  transition: transform 1s;
}

form a img:hover{
  transform: rotate(90deg);
  transition: transform 1s;
}

.winnerTable{
  width:80%;
 margin: 10px auto;
}

.winnerTable h1{
  margin-top: min(90px,5vw);
  text-align: center;
  margin-bottom: 0px;
}

.winnerTable table{
  text-align: center;
  display: flex;
  justify-content: center;
  font-size:30px;
  border-collapse: collapse;
}

th,td{
  padding:5px;
  width:300px;
}

td, th {
  border: 3px solid black;
}

#scoreValue{
  visibility: hidden;
  position: absolute;
}

@media only screen and (min-width:451px) and (max-width:750px)and (min-height:750px){
  .card__face--back{
    background-size: auto 25vw;
  }

  #game> div {
    height: 25vw;
    width :84%;
    margin:2px auto;
  }  

  #game{
    grid-template-columns: auto auto auto  ;
  }

  .startContainer {
    margin-top: 0vw;
  }

  .start {
    font-size: 15vw;
    margin-bottom: 0px;
  }

  .startbutton {
    font-size: 3rem;
    padding:5px;
  }

  form{
    width: 400px;
    margin-left: -15px;
    font-size:15px;
  }

  form input{
    margin-top:20px;
    width:350px;
    padding:10px;
  }

  .button h1{
    width:300px;
    font-size:40px;
    margin-top:0px;
    margin-bottom: 0px;
  }

  .neons h1{
    font-size:1.5em;
    margin-top:0px;
    margin-bottom: 0px;
  }

  .count{
    margin-bottom: 0px;
    margin-top:0px;
  }

  .lowest{
    margin-bottom: 0px;
    margin-top:0px;
  }

  @supports not (backdrop-filter: none) {
    input[type="submit"]{
      padding-left: 0px;
    }
  }
}

@media only screen and (max-width: 450px) {
  body{
    height: 120%;
  }

  .card__face--back{
    background-size: auto 27vw;
  }

  .winnerTable table{
    font-size:15px;
  }
  
  #game{
    grid-template-columns: auto auto  auto;
  }

  #game> div {
    height: 25vw;
    width :84%;
    margin:2px auto;
  }
  
  .startContainer {
    margin-top: 15vw;
  }

  .start {
    font-size: 19vw;
  }

  .startbutton {
    font-size: 20px
  }

  .button{
    width:140px
  }

  form{
    width: 280px;
    margin-left: -5px;
    font-size:10px;
  }

  form input{
    margin-top:20px;
    width:250px;
    padding:10px;
  }

  .lowest{
    margin-bottom: 0px;
  }

  .reset{
    margin-bottom: 3px;
    width:100px;
  }

  .count, .lowest, .reset{
    font-size:25px;
  }

  .title{
    font-size:30px;
  }

  .winner{
    margin-top: -20px;
    font-size:10px;
  }

  .button h1{
    width:140px;
    font-size:23px;
    margin-top:0px;
    margin-bottom: 80px;
  }
}
@media only screen and (min-width: 2500px) {
  body{
    font-size:80px;
  }

  #game{
    margin-top:4%;
  }

  .title{
    font-size:80px;
  }
  
  .reset{
    font-size:80px;
  }

  .reset{
    width: 500px;
  }

  .count{
    font-size:80px;
  }

  body{
    height: 100vh;
    color:wheat;
  }

  .winnerTable table{
    font-size:100px;   
  }

  .button h1{
    font-size:100px;
    width: 25%;
  }

  .neons h1{
    font-size: 1em;
  }

  .lowest{
    font-size: 1em;
  }
}
@media only screen and (max-height:750px) {
 
  form{
    width:300px;
    margin-top:-40px;
  }

  form input,form p{
    width:250px;
  }

  form h1{
    font-size:20px;
  }

  h1 em{
    font-size:30px;
  }

  .neons h1{
    margin-top:25px;
    margin-bottom: 5px;
  }

  .neons {
    margin-bottom: 0px;
    margin-top:0px;
  }

  .startContainer h1{
    margin-bottom: 0px;
  }

  .button h1{
    font-size:20px;
    width:122px;
  }

  .winnerTable h1{
    font-size:30px;
  }

  .button{
    height: 30px;
  }

  .button h1 {
    padding:5px 5px;
    box-shadow: 0 4px #999;
  }
}

@media only screen and (min-width: 1300px) {
  .count{
    margin-top:0px;
    margin-bottom: 0px;
  }
}
@media only screen and (min-height:750px) and (max-height:840px) {
 
  form{
    width:300px;
    margin-top:-40px;
  }

  form input,form p{
    width:270px;
  }

  form h1{
    font-size:20px;
  }

  h1 em{
    font-size:30px;
  }

  .neons h1{
    margin-top:5px;
    margin-bottom: 5px;
  }

  .neons {
    margin-bottom: 0px;
    margin-top:0px;
  }

  #game> div {
    height: 25vw;
    width: 85%;
  }

  .winner{
    margin-top: 0px;
  }

  a h1{
    margin-bottom: 0px;
  }
}